---
title: "Find Bugs with Coverage-Guided Fuzz Testing"
author: "Fernando Diaz"
author_gitlab: fjdiaz
author_twitter: awkwardferny
categories: unfiltered
image_title: '/images/blogimages/taya-dianna-zgSaLgXIINI-unsplash.jpg'
description: "Use fuzz testing to find bugs and security issues other QA processes might miss."
tags: CI/CD, security
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

GitLab comes with built-in coverage-guided fuzz testing. Coverage-guided fuzz testing helps you discover
bugs and potential security issues that other QA processes might miss. It sends
random inputs to an instrumented version of your application in an effort to cause unexpected behavior,
such as a crash. Such behavior indicates a bug that you should address.

Watch this short video (3 minutes) to learn how to configure [Fuzz-Testing](https://docs.gitlab.com/ee/user/application_security/coverage_fuzzing/) on GitLab.

<iframe width="560" height="315" src="https://www.youtube.com/embed/4ROYvNfRZVU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

Cover image by [Taya Dianna](https://unsplash.com/@tayadianna) on [Unsplash](https://unsplash.com/)
{: .note}


