---
layout: handbook-page-toc
title: Fulfillment Provision Backend Team
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Vision

For more details about the product vision for Fulfillment, see our [Fulfillment](/direction/fulfillment/) page.

The Provision group manages the [Provision category](/handbook/product/product-categories/#provision-group).

## Team members

<%= direct_team(manager_role: 'Backend Engineering Manager, Fulfillment:Provision', role_regexp: /[,&] Fulfillment/) %>

## Stable counterparts

<%= stable_counterparts(role_regexp: /[,&] Fulfillment/, direct_manager_role: 'Backend Engineering Manager, Fulfillment:Provision') %>
