%div{:style => "background: #fff; color: #000;"}
  .container
    .u-padding-top-lg
      .row.u-padding-top-md.u-padding-bottom-xs.text-md-center.d-flex.equal
        .col-md-6
          .row
            .col-md-12.u-margin-bottom-xs
              %h1.u-margin-bottom-xxs.custom-h1 Better collaboration,<br> more automation,<br> less complexity.
              %h4.u-margin-bottom-xxs.u-margin-top-xs.custom-h4 From built-in CI/CD and source code management to security and compliance, GitLab has all the tools you need to deliver rapidly in a single application.
          .row.u-margin-bottom-xs
            .col-md-12.u-margin-bottom-0
              .col-sm-12.col-md-5.u-margin-bottom-0
                .btn-height.u-margin-bottom-0.hero-content
                  = link_to "Try GitLab for FREE", "/free-trial/", class: "btn cta-btn lavender u-margin-right-0" 
              .col-sm-12.col-md-5.cta-btn.u-margin-bottom-0
                %span.small-font or
                = link_to "See a demo", "https://about.gitlab.com/demo/", class: "btn text-underline small-font"
        .col-md-5.col-md-offset-1.see-believe-section
          .d-flex.custom-style
            .d-flex
              = image_tag "/images/icons/ci-cd-seeing-believing.svg", alt: "CI/CD Seeing is Believing", loading: "lazy", class: "ci-cd-svg"
            %a.btn.learn-more-cta.small-font{:href => "https://page.gitlab.com/what-makes-gitlab-cicd-different.html"}
              %span.text-underline Learn more
              %i.fas.fa-long-arrow-alt-right.fa-fw.u-margin-left-xxs
      
      -# Trusted by Organizations Section
      .row
        .col-md-6.text-md-center{style: "margin-bottom:20px;"}
          %p{:style => "color: #828282;"} Trusted by 100,000 organizations, loved by 30 million developers
      -# Brand Logos
      .row
        .col-md-6.text-md-center
          = image_tag "/images/customers/logo_ticketmaster_2_color.svg", alt: "Ticketmaster logo", loading: "lazy", class: "intro-organization-logo"
          = image_tag "/images/organizations/logo_siemens_color.svg", alt: "Siemens logo", loading: "lazy", class: "intro-organization-logo"
          = image_tag "/images/organizations/logo_equinix_2_color.svg", alt: "Equinix logo", loading: "lazy", class: "intro-organization-logo"
          = image_tag "/images/organizations/logo_nvidia_color.svg", alt: "NVIDIA logo", loading: "lazy", class: "intro-organization-logo"

-# CSS For Component
:sass
  .d-flex
    display: flex
    &.custom-style
      flex-direction: column
      justify-content: center
      height: 100%
      background: #fff
      border: 1px solid #00000014
    &.equal
      display: -webkit-flex
      flex-wrap: wrap
  .text-underline
    text-decoration: underline
    &.small-font
      padding-left: 5px
      color: black
      text-decoration: underline
  .small-font
    font-size: 14px
    font-weight: bold
  .custom-h1
    font-size: 60px
    line-height: 64px
    font-family: 'Source Sans Pro'
  .custom-h4
    font-size: 23px
    font-weight: 350
    line-height: 28px
  .see-believe-section
    justify-content: center
    align-items: center
    position: relative
    z-index: 0
    &:after
      content: ""
      display: block
      width: 80%
      position: absolute
      left: 0
      right: 0
      margin: auto
      height: 100px
      bottom: 0
      background: #fff
      box-shadow: 0px 2px 50px #00000029
      z-index: -1
    .d-flex
      padding: 3rem
      justify-content: center
    .see-believe-text
      color: #380D75
      vertical-align: top
      font-size: 38px
      font-weight: 600
      width: min-content
      line-height: 1
    .learn-more-cta
      position: absolute
      bottom: 0
      right: 0
      margin: 2rem

  @media all and (max-width: 967px)
    .text-md-center
    .see-believe-section
      margin-left: auto
      margin-right: auto
      .custom-style
        padding: 1px
        min-height: 200px
    .custom-h1
      font-size: 36px
      margin-bottom: 2rem
      line-height: 44px
    .cta-btn.lavender
      margin-top: 2rem



%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}

<script src="/javascripts/home.js" type="text/javascript" data-cookieconsent="ignore"></script>
