---
layout: handbook-page-toc
title: "Groups"
---

## Development Department Team Dashboards

[Development Department](/handbook/engineering/development/)

| Sub-department | Team | Sisense Dashboard |
| -------------- | ---- | ----------------- |
| [Dev Sub-department](/handbook/engineering/development/dev/) || <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "dev"}], visible: ["sub_department"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Create:Editor Backend Team](/handbook/engineering/development/dev/create-editor-be/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "dev"},{name: "group_", value: "editor"},{name: "technology_group", value: "backend"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Create:Editor Frontend Team](/handbook/engineering/development/dev/create-editor-fe/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "dev"},{name: "group_", value: "editor"},{name: "technology_group", value: "frontend"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Create:Source Code Backend Team](/handbook/engineering/development/dev/create-source-code-be/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "dev"},{name: "group_", value: "source code"},{name: "technology_group", value: "backend"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Create:Source Code Frontend Team](/handbook/engineering/development/dev/create-source-code-fe/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "dev"},{name: "group_", value: "source code"},{name: "technology_group", value: "frontend"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | Create:Static Site Editor Team | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "dev"},{name: "group_", value: "static site editor"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Gitaly Team](/handbook/engineering/development/dev/gitaly/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "dev"},{name: "group_", value: "gitaly"}], visible: ["sub_department", "group_"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Manage Backend Team](/handbook/engineering/development/dev/manage/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "dev"},{name: "group_", value: ["access","compliance","import","analytics"]},{name: "technology_group", value: "backend"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Manage & Fulfillment Frontend Team](/handbook/engineering/development/dev/fe-manage-fulfillment/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "dev"},{name: "group_", value: ["access","compliance","import","analytics"]},{name: "technology_group", value: "frontend"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Plan:Project Management Backend Team](/handbook/engineering/development/dev/plan-project-management-be/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "dev"},{name: "group_", value: ["project management"]},{name: "technology_group", value: "backend"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Plan:Product Planning & Plan:Certify Backend Team](/handbook/engineering/development/dev/plan-product-planning-certify-be/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "dev"},{name: "group_", value: ["portfolio management","certify","product planning"]},{name: "technology_group", value: "backend"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Plan Frontend Team](/handbook/engineering/development/dev/fe-plan/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "dev"},{name: "group_", value: ["portfolio management","certify","product planning","project management"]},{name: "technology_group", value: "frontend"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Dev Sub-department](/handbook/engineering/development/dev/) | [Ecosystem Team](/handbook/engineering/development/dev/ecosystem/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "dev"},{name: "group_", value: ["ecosystem"]}], visible: ["sub_department", "group_"] ) %>">Dashboard</a> |
| [Enablement Sub-department](/handbook/engineering/development/enablement/) || <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "enablement"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Enablement Sub-department](/handbook/engineering/development/enablement/) | [Database Team](/handbook/engineering/development/enablement/database/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "enablement"},{name: "group_", value: "database"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Enablement Sub-department](/handbook/engineering/development/enablement/) | [Distribution Team](/handbook/engineering/development/enablement/distribution/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "enablement"},{name: "group_", value: "distribution"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Enablement Sub-department](/handbook/engineering/development/enablement/) | [Geo Team](/handbook/engineering/development/enablement/geo/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "enablement"},{name: "group_", value: ["geo"]}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Enablement Sub-department](/handbook/engineering/development/enablement/) | [Memory Team](/handbook/engineering/development/enablement/memory/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "enablement"},{name: "group_", value: "memory"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Enablement Sub-department](/handbook/engineering/development/enablement/) | [Search Team](/handbook/engineering/development/enablement/search/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "enablement"},{name: "group_", value: "global search"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Growth Sub-department](/handbook/engineering/development/growth/) || <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "growth"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Growth Sub-department](/handbook/engineering/development/growth/) | [Activation Team](/handbook/engineering/development/growth/activation/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "growth"},{name: "group_", value: "activation"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Growth Sub-department](/handbook/engineering/development/growth/) | [Adoption Team](/handbook/engineering/development/growth/adoption/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "growth"},{name: "group_", value: "adoption"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Growth Sub-department](/handbook/engineering/development/growth/) | [Conversion Team](/handbook/engineering/development/growth/conversion/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "growth"},{name: "group_", value: "conversion"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Growth Sub-department](/handbook/engineering/development/growth/) | [Expansion Team](/handbook/engineering/development/growth/expansion/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "growth"},{name: "group_", value: "expansion"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Fulfillment Sub-department](/handbook/engineering/development/fulfillment/) | [Fulfillment Backend Team](/handbook/engineering/development/fulfillment/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "fulfillment"},{name: "group_", value: ["fulfillment","provision","purchase"]},{name: "technology_group", value: ["backend"]}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Fulfillment Sub-department](/handbook/engineering/development/fulfillment/) | [Fulfillment Frontend Team](/handbook/engineering/development/fe-fulfillment/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "fulfillment"},{name: "group_", value: ["fulfillment","provision","purchase"]},{name: "technology_group", value: ["frontend"]}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Ops Sub-department](/handbook/engineering/development/ops/) || <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "ops"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Ops Sub-department](/handbook/engineering/development/ops/) | [Configure](/handbook/engineering/development/ops/configure/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "ops"},{name: "group_", value: ["configure"] }], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Ops Sub-department](/handbook/engineering/development/ops/) | [Monitor:Monitor Team](/handbook/engineering/development/ops/monitor/monitor/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "ops"},{name: "group_", value: ["apm","monitor"] }], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Ops Sub-department](/handbook/engineering/development/ops/) | [Package Team](/handbook/engineering/development/ops/package/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "ops"},{name: "group_", value: "package"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Ops Sub-department](/handbook/engineering/development/ops/) | [Release Backend Team](/handbook/engineering/development/ops/release/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "ops"},{name: "group_", value: ["progressive delivery","release management"]},{name: "technology_group", value: ["backend"]}], visible: ["sub_department", "group_","technology_group"]) %>">Dashboard</a> |
| [Ops Sub-department](/handbook/engineering/development/ops/) | [Verify Backend Team](/handbook/engineering/development/ops/verify/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "ops"},{name: "group_", value: ["continuous integration","testing"]},{name: "technology_group", value: ["backend"]}], visible: ["sub_department", "group_","technology_group"]) %>">Dashboard</a> |
| [Ops Sub-department](/handbook/engineering/development/ops/) | [Verify & Release Frontend Team](/handbook/engineering/development/ops/release/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "ops"},{name: "group_", value: ["continuous integration","testing","progressive delivery","release management","runner"]},{name: "technology_group", value: ["frontend"]}], visible: ["sub_department", "group_","technology_group"]) %>">Dashboard</a> |
| [Secure Sub-department](/handbook/engineering/development/secure/) || <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "secure"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |
| [Secure Sub-department](/handbook/engineering/development/secure/) | [Secure Backend Team](/handbook/engineering/development/secure/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "secure"},{name: "group_", value: ["static analysis","dynamic analysis","composition analysis","fuzz testing","vulnerability research","secure","frontend","vulnerability management"]},{name: "technology_group", value: ["backend"]}], visible: ["sub_department", "group_","technology_group"]) %>">Dashboard</a> |
| [Secure Sub-department](/handbook/engineering/development/secure/) | [Secure Frontend Team](/handbook/engineering/development/secure/fe-secure/) | <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "secure"},{name: "group_", value: ["frontend"]},{name: "technology_group", value: ["frontend"]}], visible: ["sub_department", "group_","technology_group"]) %>">Dashboard</a> |
| [Threat Management Sub-department](/handbook/engineering/development/threat-management/) || <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "sub_department", value: "threat management"}], visible: ["sub_department", "group_", "technology_group"] ) %>">Dashboard</a> |

## Troubleshooting

Group information comes from the `job title specialty` field in Bamboo HR. Per the [handbook](https://about.gitlab.com/handbook/people-group/promotions-transfers/#job-information-change-in-bamboohr), managers are responsible for updating the `job title speciality` field in for any/all specialty changes.

* If you detect that the group information is incorrect for a team member during a specific time frame, please open a [data team issue](https://gitlab.com/gitlab-data/analytics/-/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D=) and describe the current and correct team member’s group information. In your request, please include the `employee id`, `division`, `department`, `job title speciality`, `effective date`, and `end date`.
    - For team members with more than one group, please list all groups separated by a comma.
* If a team member isn’t counted in the organization metrics but their group information is correct in Bamboo HR, check that the [email in their GitLab.com profile](https://gitlab.com/profile/notifications) matches the work email in Bamboo HR. If there is a mismatch, update the Bamboo HR profile email to match the GitLab.com notification email.
